[Unit]
Description=Nuvion Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=NUV_AGENT_CONFIG=/etc/nuv-agent/agent.env
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONNOUSERSITE=1
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /tmp/nuvion_clips/segments /tmp/nuvion_clips/clips
ExecStartPre=/bin/chmod 1777 /tmp/nuvion_clips
ExecStartPre=/bin/chmod 0777 /tmp/nuvion_clips/segments /tmp/nuvion_clips/clips
ExecStartPre=/bin/sh -c 'rm -f /tmp/nuvion_clips/segments/segment_*.mp4 /tmp/nuvion_clips/clips/clip_*.mp4 || true'
ExecStart=/usr/bin/nuv-agent run
Restart=always
RestartSec=3
User=nuvion
Group=nuvion
SupplementaryGroups=video
WorkingDirectory=/
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
