services:
  inference-service:
    build:
      context: ..
      dockerfile: nuvion_app/inference/Dockerfile.inference
    container_name: nuvion-inference
    privileged: true
    ipc: host
    working_dir: /app
    network_mode: host
    env_file:
      - ../.env
    # cpuset: "0-2"
    command: ["/bin/bash", "-c", "umask 0000 && python3 -m nuvion_app.cli run"]
    volumes:
      - ..:/app
      - /tmp:/tmp
      - /dev/shm:/dev/shm
      - /run/libcamera:/run/libcamera
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket
      - /usr/share/libpisp:/usr/share/libpisp:ro

      - /usr/bin:/usr/bin:ro
      - /usr/share/libcamera:/usr/share/libcamera:ro
      - /sys:/sys:ro
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
      - /run/udev:/run/udev:ro
      
    devices:
      - "/dev/video0:/dev/video0"
      - "/dev/video1:/dev/video1"
      - "/dev/dma_heap/system:/dev/dma_heap/system"
      - "/dev/dma_heap/linux,cma:/dev/dma_heap/linux,cma"
      - "/dev/media0:/dev/media0"
      - "/dev/media1:/dev/media1"
      - "/dev/media2:/dev/media2"
      - "/dev/media3:/dev/media3" 
      - "/dev/media4:/dev/media4"
      - "/dev/vchiq:/dev/vchiq"
      - "/dev/video10:/dev/video10"
      - "/dev/video11:/dev/video11"
      - "/dev/video12:/dev/video12" 
    environment:
      - LD_LIBRARY_PATH=/usr/lib:/usr/lib/aarch64-linux-gnu:/usr/local/lib
      - GST_PLUGIN_PATH=/usr/lib/aarch64-linux-gnu/gstreamer-1.0
      - PYTHONPATH=/app:/usr/local/lib/python3.11/site-packages:/usr/lib/python3/dist-packages
      - GST_TRACERS=
      - GST_SHARK_LOCATION=
      - GST_SHARK_CTF_DISABLE=1
      - DISPLAY=:0
    restart: unless-stopped
